* {

}

body {

}

.scores {
    position: relative;
}

#timer {
    position: relative;
}

.quizStart {
    position: relative;
    top: 200px;
    text-align: center;
}

#startBttn {
    position: relative;
    top: 200px;
    text-align: center;
    background-color: darkblue;
    color: white;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#answerCorrect {
     position: relative;
    top: 200px;
    text-align: center;
    display: none;
}

#answerIncorrect {
     position: relative;
    top: 200px;
    text-align: center;
    display: none;
}

.question1 {
    position: relative;
    top: 200px;
    text-align: center;
}

#answers1-1 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers1-2 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers1-3 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers1-4 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.question2 {
    position: relative;
    top: 200px;
    text-align: center;
}

#answers2-1 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers2-2 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers2-3 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers2-4 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.question3 {
    position: relative;
    top: 200px;
    text-align: center;
}

#answers3-1 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers3-2 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers3-3 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers3-4 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.question4 {
    position: relative;
    top: 200px;
    text-align: center;
}

#answers4-1 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers4-2 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers4-3 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers4-4 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.question5 {
    position: relative;
    top: 200px;
    text-align: center;
}

#answers5-1 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers5-2 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers5-3 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#answers5-4 {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#finalScore {
    position: relative;
    top: 200px;
    text-align: center;
}

#playerScore{
    position: relative;
    top: 200px;
    text-align: center;
}

#submitForm {
    position: relative;
    top: 200px;
    text-align: center;
}